.red{
    background-color: yellow;
}
.bg-yellow{
    color: yellow;
}
#firstdiv{
    background-color: red;
}
.sandy{
    color: yellow;
}
#seconddiv{
    background-color: forestgreen;
}

